{% extends 'coffe/base.html' %}

{% block title %} Отчеты {% endblock %}

{% block content %}

<h1>Search</h1>



    <h1>Отчеты</h1>

 <form method="POST" action="create/">
        {% csrf_token %}
        <!--<p>
            <label>Введите дату</label><br>
            <input type="date" name="date" />
        </p>-->

 </form>

<!-- Form will be here -->



{% if date > 0%}
     {% endif %}

<div>
         <h2>Визиты</h2>
<table>
{% for visit in report_visit %}
     {% if date == Visit.visit_date %}
        <tr>
                <td>{{ visit.visit_date }} </td>
                <td>{{ visit.technical_specialist }} </td>
                <td>{{ visit.done }} </td>
                <td>{{ visit.renovation }} </td>
                <td>{{ visit.what_renovation }} </td>
        </tr>
    {% endif %}
{% endfor %}
</table>
         <h2>Кофемашины</h2>
    <table>
{% for i in merge %}
    <tr>
  <td>{{ i.client_point }} </td>
  <td>{{ i.model }} </td>
</tr>
{% endfor %}
</table>
</div>
{% endblock %}

